//!  SECTION BENEFITS
.inner-containar {
	padding: 0px 100px 0px 100px;
}
.benefits {
	margin: 0px 0px 131px 0px;
	&__container {
	}
	&__inner {
		margin: -223px 0px 0px 0px;
		background-color: #fff;
	}
	// .benefits__title

	&__title {
		padding: 93px 0px 120px 0px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 500;
		font-size: 35px;
		line-height: 42px;
		/* identical to box height */

		color: #102746;
	}

	// .benefits__row

	&__row {
		display: flex;
		margin: 0px -22.5px 0px -22.5px;
	}

	// .benefits__card

	&__card {
		padding: 0px 22.5px 0px 22.5px;
		flex: 0 1 33.333;
	}
}
.card {
	// .card__icon

	&__icon {
		margin: 0px 0px 37px 0px;
	}

	// .card__title

	&__title {
		margin: 0px 0px 26px 0px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		/* identical to box height, or 133% */

		color: #000000;
	}

	// .card__text

	&__text {
		margin: 0px 0px 39px 0px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* or 150% */

		color: #000000;
	}

	// .card__button

	&__button a {
		position: relative;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		/* identical to box height, or 150% */
	}
	&__button a::after {
		position: absolute;
		content: '';
		top: 33%;
		left: 126px;
		background-image: url(/img/sec_ben/Shape.png);
		background-repeat: no-repeat;
		display: inline-block;
		width: 33px;
		height: 8px;
	}
}
// ! SECTION GET

.get {
	// .get__container
	margin: 0px 0px 121px 0px;
	&__container {
	}

	// .get__head

	&__head {
		margin: 0px 0px 46px 0px;
		display: flex;
		justify-content: space-between;
	}

	// .get__title

	&__title {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 500;
		font-size: 35px;
		line-height: 42px;
		/* identical to box height */

		color: #102746;
	}

	// .get__button

	&__button {
		margin: 0px 30px 0px 0px;
		position: relative;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		align-self: center;

		/* identical to box height, or 150% */

		// text-align: right;

		color: $color-learn;
	}
	&__button::after {
		position: absolute;
		content: '';
		top: 33%;
		right: -30px;
		background-image: url(/img/sec_ben/Shape.png);
		background-repeat: no-repeat;
		display: inline-block;
		width: 33px;
		height: 8px;
	}

	// .get__galerry

	&__galerry {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 16.666%);

		grid-template-rows: auto auto;
	}

	// .get__item

	img {
		width: 100%;
	}

	&__item_1 {
		grid-column-start: span 3;
	}

	&__item_2 {
		grid-column-start: span 3;
	}
	&__item_3 {
		grid-column-start: span 2;
	}
	&__item_4 {
		grid-column-start: span 2;
	}
	&__item_5 {
		grid-column-start: span 2;
	}
}
//! FOCUS

.focus {
	margin: 0px 0px 139px 0px;
	// .focus__container

	&__container {
	}

	// .focus__row

	&__row {
	}

	// .focus__cards

	&__cards {
	}
}
.card-one {
	// .cards__row

	&__row {
		margin: 0px 0px 77px 0px;
		display: flex;
	}
}
.card-one {
	// .card__img

	&__img {
		padding: 0px 54px 0px 0px;
		flex: 0 0 50%;
	}
	&__img img {
		width: 100%;
	}
	// .card__block

	&__block {
	}
}
.block {
	padding: 0px 0px 0px 54px;
	flex: 1 0 50%;
	// .block__subtitle

	&__subtitle {
		margin: 26px 0px 75px 0px;
		font-family: Lato;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
		color: #102746;
	}

	// .block__text

	&__text {
		margin: 0px 0px 58px 0px;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #102746;
	}

	// .block__button

	&__button a {
		position: relative;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: $color-learn;
	}
	&__button a::after {
		position: absolute;
		content: '';
		top: 33%;
		left: 160px;
		background-image: url(/img/sec_ben/Shape.png);
		background-repeat: no-repeat;
		display: inline-block;
		width: 33px;
		height: 8px;
	}
}
.card-two {
	// .cards__row

	&__row {
		display: flex;
		flex-direction: row-reverse;
		flex: 1 0 50%;
	}
}
.card-two {
	// .card__img

	&__img {
		padding: 0px 0px 0px 54px;
	}
	&__img img {
		width: 100%;
	}
	// .card__block

	&__block {
	}
}

.block-two {
	padding: 0px 54px 0px 47px;
	flex: 1 0 50%;
	// .block-two__subtitle

	&__subtitle {
		margin: 26px 0px 45px 0px;
		font-family: Lato;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
		color: #102746;
	}

	// .block-two__text

	&__text {
		margin: 0px 0px 94px 0px;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #102746;
	}

	// .block-two__button

	&__button a {
		position: relative;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: $color-learn;
	}
	&__button a::after {
		position: absolute;
		content: '';
		top: 33%;
		left: 210px;
		background-image: url(/img/sec_ben/Shape.png);
		background-repeat: no-repeat;
		display: inline-block;
		width: 33px;
		height: 8px;
	}
}
//!CARDS
.cards {
	// .cards__title

	&__title {
		margin: 0px 0px 64px 0px;
		font-family: Lato;
		font-size: 35px;
		font-weight: 500;
		line-height: 42px;
		color: #102746;
	}

	// .cards__row

	&__row {
		margin: 0px -26px 0px -26px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 58px;
	}

	// .cards__card

	&__card {
	}
}
.card {
	flex: 0 1 33.333%;

	padding: 0px 26px 0px 26px;

	// .card__img

	&__img {
		position: relative;
		margin: 0px 0px 45px 0px;
	}
	&__img img {
		width: 100%;
	}
	// .card__footer

	&__footer {
		padding: 0px 25px 0px 25px;
		position: absolute;
		width: 100%;
		margin: -55px 0px 0px 0px;
		display: flex;
		height: 55px;
		align-items: center;
		z-index: 100;
		background: #15182499;
	}

	// .card__name

	&__name {
		flex-basis: 84%;
		font-family: Lato;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		ccolor: $mainColor;
	}

	// .card__like

	&__like {
		margin: 0px 34px 0px 0px;
		position: relative;
		font-family: Lato;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		color: $mainColor;
	}
	&__like::after {
		position: absolute;
		content: '';
		top: 20%;
		left: 34px;
		background-image: url(/img/sec_cards/LIKE.svg);
		background-repeat: no-repeat;
		display: inline-block;
		width: 16px;
		height: 15px;
		color: $mainColor;
	}

	// .card__coments

	&__coments {
		position: relative;
		margin: 0px 18px 0px 0px;
		font-family: Lato;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		color: $mainColor;
	}
	&__coments::after {
		position: absolute;
		content: '';
		top: 26%;
		left: 25px;
		background-image: url(/img/sec_cards/COMENTS.svg);
		background-repeat: no-repeat;
		display: inline-block;
		width: 14px;
		height: 14px;
		color: $mainColor;
	}

	// .card__text

	&__text {
		margin: 45px 0px 0px 0px;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #102746;
	}

	// .card__button

	&__button {
		margin: 31px 0px 0px 0px;
		padding: 11px 0px 12px 0px;
		width: 118px;
		height: 42px;
		background: #006dfe;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		color: $mainColor;

		text-align: center;
	}
}
//! VIDEO

.video {
	margin: 144px 0px 0px 0px;

	// .video__play

	&__play {
		position: relative;
		background-color: #0c0c0c;
	}
	&__play video {
		width: 100%;
	}

	&__play > img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 112px;
		height: 112px;
		color: $mainColor;
	}
}
