.header {
	background-image: url(/img/Header/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	// .header__nav

	&__nav {
		margin: 0px 0px 176px 0px;
		padding: 56px 0px 0px 0px;
	}

	// .header__container

	&__container {
	}
	&__nav-row {
		display: flex;
		justify-content: space-between;
	}
	// .header__nav-logo

	&__nav-logo {
	}

	// .header__nav-nav

	&__nav-nav {
	}

	// .header__lists

	&__lists-row {
		display: flex;
	}

	// .header__list

	&__list a {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;

		color: $mainColor;
	}

	&__list:not(:last-child) {
		margin: 0px 82px 0px 0px;
	}

	// .header__title

	&__title {
		margin: 0px 0px 22px 0px;
		max-width: 619px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 500;
		@include adaptiveValue('font-size', 50, 30);
		font-size: 50px;
		line-height: 60px;
	}

	// .header__text

	&__text {
		margin: 0px 0px 59px 0px;
		max-width: 546px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: $mainColor;
	}

	// .header__search

	&__search {
		padding: 0px 0px 376px 0px;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		/* identical to box height, or 133% */

		$mainColor: #ffffff;
		@media (min-width: $mobile) {
			flex-direction: row;
		}
	}

	// .header__what

	&__what {
		margin: 0px 23px 0px 0px;
	}

	// .header__where

	&__where {
		margin: 0px 23px 0px 0px;
	}

	&__radio {
		margin: 0px 60px 0px 0px;
		border-bottom: 2px solid #bfc0c5;
	}
	// .header__button

	&__button {
		background-color: #1b7dff;
		width: 171px;
		height: 58px;
		font-family: 'Lato';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: $mainColor;
	}
}
