.open {
	display: flex !important;
}

.nav {
	display: flex;
	width: 700px;
	padding: 0 40px;

	&__list {
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: space-between;
	}
}

/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: em(970)) {
	.nav {
		padding: 0;
		display: none;
		position: absolute;

		width: 30%;
		top: 15%;
		left: 5%;
		z-index: 50;

		color: #fff;
		animation: burgerAnimation 0.4s;

		&__list {
			flex-direction: column;
			row-gap: 10px;
		}
	}
}

@keyframes burgerAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
